.setimg-card-img {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.setimg-card-img img {
  transition: 1s;
}

.setimg-card-img img:hover {
  transform: scale(1.1);
}


